{% extends "layout.html" %}

{% block title %}Etsi resepti{% endblock %}

{% block content %}
<h2>Etsi resepti</h2>

<form action="/find_recipe" method="get">
  <p>
    <label for="query">Hakusana</label>:
    <input type="text" name="query" id="query" value="{{ query }}">
  </p>
  <input type="submit" value="Hae">
</form>

{% if query %}
<div class="recipe_listing">
  <h3>Tulokset</h3>
  {% for recipe in results %}
  <p><a href="/recipe/{{ recipe.id }}">{{ recipe.recipe_name }}</a></p>
  {% endfor %}
</div>
{% endif %}
{% endblock %}