{% extends "layout.html" %}

{% block title %}{{ recipe.recipe_name }}{% endblock %}
{% block content %}
<p>{{ recipe.recipe_name }} yhteensä {{ stats.N}} <a href="/reviews/{{ recipe.id }}">arvostelua</a></p>
<p>Ainesosat:</p>
<ul>
{% for ingredient in ingredients %}
  <li>{{ ingredient.ingredient_description }}</li>
{% endfor %}
</ul>
<p>Työvaiheet:</p>
<ol>
{% for step in steps %}
  <li>{{step.step}}</li>
{% endfor %}
</ol>
{% if session.user_id != recipe.id %}
<form action="/review_recipe/{{ recipe.id }}", method="post">
    <p><label for="comment">Arvostelu:</label> <br /></p>
    <textarea name="comment" id="comment" rows="8" cols="60" required></textarea> <br/>
    <label for="score">Arvosana:</label>
    <select name="score" id="score">
        {% for i in range(1, 11) %}
        <option value={{i}}>{{i}}</option>
        {% endfor %}
    </select> </br>
    <input type="submit" value="Arvostele" />
</form>

{% else %}
<form action="/modify_recipe/{{ recipe.id }}" method="post">
  <p>
    <label for="ingredients">Muokkaa ainesosia</label>: <br />
    <textarea name="ingredients" id="ingredients" rows="8" cols="60"></textarea>
  </p>
  <p>
    <label for="steps">Muokkaa ohjetta</label>: <br />
    <textarea name="steps" id="steps" rows="8" cols="60"></textarea>
  </p>
  <input type="submit" value="Muokkaa reseptiä" />
</form>
</br>
<form action="/delete_recipe/{{ recipe.id }}" method="post">
  <input type="submit" value="Poista resepti" />
</form>
{% endif %}
{% endblock %}