{% extends "layout.html" %}

{% block title %}Käyttäjä {{ user.username }}{% endblock %}

{% block content %}
<h2>Käyttäjä {{ user.username }}</h2>
<p>
  Käyttäjällä on yhteensä {{ recipe_count }} reseptiä.
</p>
{% if recipe_count %}
<div class="recipe_listing">
  <h2>Reseptit</h2>
  {% for recipe in recipes %}
  <p><a href="/recipe/{{ recipe.id }}">{{ recipe.recipe_name }}</a></p>
  {% endfor %}
  <p>
    <a href="/user/{{ user.id }}/{{ page - 1 }}">&lt;&lt;</a>
    Sivu {{ page }}/{{ page_count }}
    <a href="/user/{{ user.id }}/{{ page + 1 }}">&gt;&gt;</a>
  </p>
</div>
{% endif %}
{% endblock %}